files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/020_oracle.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir -p /var/app/dataload
      SETUP_BUCKET=`$(/opt/elasticbeanstalk/bin/get-config container -k support_files_dir)/generate_env | grep SETUP_BUCKET | awk -F'=' '{print $2}'`
      echo "SETUP_BUCKET: $SETUP_BUCKET"

      REGION=`curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone | sed 's/\(.*\)[a-z]/\1/'`
      echo "REGION: $REGION"

      aws s3 cp s3://$SETUP_BUCKET/oracle/ /var/app/current --recursive --exclude "*.dmp" --region $REGION
      echo "ls -ltra /var/app/current/ :"
      ls -ltra /var/app/current/

      aws s3 cp s3://$SETUP_BUCKET/oracle/ /var/app/dataload --recursive --include "*.dmp" --region $REGION
      echo "ls -ltra /var/app/dataload/ :"
      ls -ltra /var/app/dataload/

      
