container_commands:
  00_wait_to_finish:
    command: sed -i 's/sleep 5/while true; do EB_CONFIG_DOCKER_STAGING_APP=`cat $EB_CONFIG_DOCKER_STAGING_APP_FILE | cut -c 1-12`; if ! docker ps | grep -q $EB_CONFIG_DOCKER_STAGING_APP; then break; fi; echo Sleeping; sleep 30; done/' /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh
